.main-contact {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding: var(--padding);
    justify-content: center;
    flex-direction: column;
    background: var(--color-primary);
}

.title {
    font-size:var(--heading);
    text-align: center;
    color: var(--color-background-darker);
    text-transform: uppercase;
}
.primary-text {
    font-size: var(--title);
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
    color: var(--color-background-darker);
}
.secondary-text {
    font-size: var(--subtitle);
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    color: var(--color-background-darker);
}

.email {
    text-decoration: underline;
}
.social-media {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    align-items: center;
    justify-content: center;
}
.facebook, .instagram, .twitter {
    height: clamp(2rem, 1.912vw + 1.388rem, 4rem);
    filter: invert(1);
    margin-right: 26px;
}