---
import Layout from "./Layout.astro";
import "../styles/about.css"
---

<Layout title="About">
    <main>
        <p class="title">Quienes somos</p>

        <p class="primary-text">
            Lorem ipsum dolor sit amet consectetur. Tincidunt rutrum tempor commodo placerat pulvinar enim ligula morbi amet. Risus massa risus cursus at diam donec non sed quam. Ullamcorper et auctor odio ac faucibus. Viverra sit ut done. 
        </p>
    
        <p class="secondary-text">
            Ornare volutpat magna arcu gravida vestibulum est porttitor est id. Netus commodo massa nunc cursus lorem sagittis. Urna vestibulum quam sapien eu ut eu est. Tortor magna aliquet aliquam odio tellus nunc diam elit. Amet lobortis egestas dignissim bibendum diam condimentum vehicula tortor suscipit. Amet ipsum quis amet ante.
        </p>
    </main>
</Layout>

