---
import Layout from "./Layout.astro";
import "../styles/contact.css"
---

<link rel="stylesheet" href="../styles/contact.css">

<Layout title="contact">
    <main class="main-contact">
        <p class="title">Contactanos</p>

        <p class="primary-text">
            No dude en contactarnos para cualquier idea o trabajo que quieras realizar
        </p>

        <p class="primary-text email">
            inksublimacion@gmail.com
        </p><br><br><br><br>
    
        <p class="secondary-text">
            (+506) 8524-5420    |     (+506) 8524-5420
        </p>


        <div class="social-media">
            <img class="facebook" src="../../public/Facebook.png" alt="">
            <img class="instagram" src="../../public/Instagram.png" alt="">
            <img class="twitter" src="../../public/TwitterX.png" alt="">
        </div>
    </main>
</Layout>

