---
import Layout from "./Layout.astro";
import "../styles/contact.css"
---

<Layout title="contact">
    <main class="main-contact">
        <p class="title">Contactanos</p>

        <p class="primary-text-contact">
            No dude en contactarnos para cualquier idea o trabajo que quieras realizar
        </p>

        <p class="primary-text-contact email-contact">
            inksublimacion@gmail.com
        </p><br><br><br><br>
    
        <p class="secondary-text-contact">
            (+506) 8524-5420    |     (+506) 8524-5420
        </p>


        <div class="social-media-contact">
            <img class="facebook-contact" src="/inksublime/facebook.png" alt="">
            <img class="instagram-contact" src="/inksublime/instagram.png" alt="">
            <img class="twitter-contact" src="/inksublime/twitterx.png" alt="">
        </div>
    </main>
</Layout>

