---
import Navbar from "../components/Navbar.astro"
import "../styles/home.css"
---

<section>

    <div class="nav">
        <Navbar></Navbar>
    </div>
    

    

    <div class="body">
        <div class="text"> </div>

        <div class="text">
            <h1 class="title">
                Lorem ipsum dolor sitamet consectetur
            </h1>
            <p class="slogan">
                Lorem ipsum dolor sit amet consectetur. Vehicula itae facilisis. Risus sollicitudin.
            </p>
        </div>
        
    </div>
    

    <!-- <div class="social-media">
        <img class="facebook" src="/inksublime/facebook.png" alt="logo_face">
        <img class="instagram" src="/inksublime/instagram.png" alt="logo_instagram">
        <img class="twitter" src="/inksublime/twitterx.png" alt="logo_twitter">
    </div> -->
    
</section>

