---
import Navbar from "../components/Navbar.astro"
import "../styles/home.css"
---

<section>

    <div class="nav">
        <Navbar></Navbar>
    </div>
    

    

    <div class="body">
        <div class="text"> </div>

        <div class="text">
            <h1 class="title">
                Lorem ipsum dolor sitamet consectetur
            </h1>
            <p class="slogan">
                Lorem ipsum dolor sit amet consectetur. Vehicula itae facilisis. Risus sollicitudin.
            </p>
        </div>
        
    </div>
    

    <div class="social-media">
        <img class="facebook" src="../../public/facebook.png" alt="">
        <img class="instagram" src="../../public/instagram.png" alt="">
        <img class="twitter" src="../../public/twitterx.png" alt="">
    </div>
    
</section>

