---
import Layout from "./Layout.astro";
import Works from "./Works.astro";
import "../styles/manufacture.css"
---

<Layout title="Manufacture">
  <main class="main-manufacture">
    <div class="cards-manufacture">
      <div class="card-manufacture">
        <div class="header-manufacture">
          <div class="number-manufacture">1</div>
          <div class="title-manufacture"><span>Diseñamos</span></div>
        </div>
        <div class="body-manufacture">
          <p class="text-manufacture">
            Lorem ipsum dolor sit amet consectetur. Enim gravida pellentesque
            faucibus dolor maecenas mauris purus. Cras vestibulum magna velit
            volutpat eget cras quis commodo augue. Porttitor donec est vel velit
            aenean venenatis lorem. Morbi aliquam pretium ultrices nisi sed.
          </p>
        </div>
      </div>

      <div class="card-manufacture">
        <div class="header-manufacture">
          <div class="number-manufacture">2</div>
          <div class="title-manufacture"><span>Imprimimos</span></div>
        </div>
        <div class="body-manufacture">
          <p class="text-manufacture">
            Lorem ipsum dolor sit amet consectetur. Enim gravida pellentesque
            faucibus dolor maecenas mauris purus. Cras vestibulum magna velit
            volutpat eget cras quis commodo augue. Porttitor donec est vel velit
            aenean venenatis lorem. Morbi aliquam pretium ultrices nisi sed.
          </p>
        </div>
      </div>

      <div class="card-manufacture">
        <div class="header-manufacture">
          <div class="number-manufacture">3</div>
          <div class="title"><span>Diseñamos</span></div>
        </div>
        <div class="body-manufacture">
          <p class="text-manufacture">
            Lorem ipsum dolor sit amet consectetur. Enim gravida pellentesque
            faucibus dolor maecenas mauris purus. Cras vestibulum magna velit
            volutpat eget cras quis commodo augue. Porttitor donec est vel velit
            aenean venenatis lorem. Morbi aliquam pretium ultrices nisi sed.
          </p>
        </div>
      </div>

      <div class="card-manufacture">
        <div class="header-manufacture">
          <div class="number-manufacture">4</div>
          <div class="title-manufacture"><span>Diseñamos</span></div>
        </div>
        <div class="body-manufacture">
          <p class="text-manufacture">
            Lorem ipsum dolor sit amet consectetur. Enim gravida pellentesque
            faucibus dolor maecenas mauris purus. Cras vestibulum magna velit
            volutpat eget cras quis commodo augue. Porttitor donec est vel velit
            aenean venenatis lorem. Morbi aliquam pretium ultrices nisi sed.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<Works />

